.grupoPoliticas_container {
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;
    
}

.grupoPoliticas_container h1 {
    font-weight: 700;
    color: white;
    margin: 1 auto;
    padding: 0.5em;
    background-color: #000000;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;

}

