.form {
    width: 100%;
    margin: 2em 0;
}

.form_container {
    width: 500px;
    margin: 0 auto;
    padding: 3em;
}

.form_container h1{
    margin-bottom: 0.5em;
}

.form_container p{
    color: #000;
}

.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
