.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding-left: 1em; 
}


.list{
    background-color: #e43838;
    border-bottom-left-radius: 40px;
    padding-right: 15px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    list-style: none;
    align-items: center;
    font-weight: 500;
}

.item{
    margin-right: 1em;
    font-size: 18px;
    font-weight: 500;
}


.item a {
    color: #fff;
    text-decoration: none;

}

.item a:hover {
    color: black;
    padding: 0px 5px;
    text-decoration: none;
    
}